.table-container {
    width: 100%;
    overflow-x: auto;
  }
  
  table {
    width: 100%;
    min-width: 600px; /* Atur minimal lebar tabel, sehingga bila layar HP lebih kecil akan muncul scroll horizontal */
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 8px;
  }
  
  th {
    background-color: rgb(92, 155, 255);
    color: white;
    font-size: 14px;
    white-space: nowrap;
  }
  