
body, h2, table, a {
  font-family: Arial, sans-serif;
  color: black;
}

body {
  background: #f4f4f9;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  flex-direction: column;
}

.container {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(92, 155, 255);
  padding: 20px 30px;
  width: 80%;
  max-width: 800px;
}

h2 {
  margin-top: 10px;
  color: rgb(92, 155, 255);
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

table {
  width: 90%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  background: rgb(92, 155, 255);
  color: #fff;
}

tr:nth-child(even) {
  background: #f9f9f9;
}

tr:hover {
  background: #e6f7ff;
}

.header-buttons {
  margin-bottom: 20px;
}

.header-buttons .button {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background: rgb(92, 155, 255);
  padding: 10px 20px;
  border-radius: 5px;
  margin: 5px;
  transition: background 0.3s;
}

.header-buttons .button:hover {
  background: rgb(92, 155, 255);
}

@media (max-width: 600px) {
  table {
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
